a {
  color: white;
  text-decoration: underline;
}


/*.ui.image.landing-background{*/
  /*opacity: 0.5;*/
/*}*/

.landing-background{
  background:url('/images/landing.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  opacity: 0.5;
}


.landing-text{
  color: white;
  text-transform: uppercase;
  min-height: 100vh;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.landing-text > h1{
  font-size: 3rem;
  letter-spacing: 1rem;
  text-align: center;
}

.landing-text > h2{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1rem;
}
.landing-text > div {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  /*background-color: black;*/
  margin-top: 2rem;
  padding: 1rem;
}

.landing-text > div > a {
  text-decoration: none;
  color: white;
  background-color: #222;
  padding: 1rem;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.landing-text > div > a:hover {
  background-color: #808080;
  padding: 1rem;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.landing-about{
  min-height: 100vh;
  background-color:#0c121f;
}


/*.topmenu{*/
  /*position: fixed;*/
  /*top: 0;*/
/*}*/
.app{
  background-color: #0c121f;
  position: relative;
  min-height: 100vh;
}

.ui.fluid.search.selection.dropdown{
  background-color: #383b4a;
}

.ui.search.dropdown > .text{
  color: #fff;
}

.ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text{
  color: #fff;
}

.ui.selection.dropdown .menu > .item{
  color: #fff;
  background-color: #383b4a;
  border-top: none !important;
}

.datePicker{
  border-bottom: thin solid white;
}

.react-date-picker__wrapper{
  border: none !important;
}

.react-date-picker__inputGroup__input, .react-date-picker__inputGroup__divider{
  color: white;
}

.react-date-picker__button:enabled{
  color:white !important;
}

/*.ui.cards > .card > .content, .ui.card > .content{*/
  /*background-color: #383b4a;*/
/*}*/
.footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  overflow: auto;
  display: inline-block;
}

/*@-webkit-keyframes Gradient {*/
  /*0% {*/
    /*background-position: 0% 50%*/
  /*}*/
  /*50% {*/
    /*background-position: 100% 50%*/
  /*}*/
  /*100% {*/
    /*background-position: 0% 50%*/
  /*}*/
/*}*/

/*@-moz-keyframes Gradient {*/
  /*0% {*/
    /*background-position: 0% 50%*/
  /*}*/
  /*50% {*/
    /*background-position: 100% 50%*/
  /*}*/
  /*100% {*/
    /*background-position: 0% 50%*/
  /*}*/
/*}*/

/*@keyframes Gradient {*/
  /*0% {*/
    /*background-position: 0% 50%*/
  /*}*/
  /*50% {*/
    /*background-position: 100% 50%*/
  /*}*/
  /*100% {*/
    /*background-position: 0% 50%*/
  /*}*/
/*}*/

h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}
