a {
  color: white;
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.landing-background{
  opacity: 0.3;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #222;
}

.landing1{
  background:url('/images/landing.jpg') no-repeat center center fixed;
}

.landing2{
  background:url('/images/landing2.jpg') no-repeat center center fixed;
}

.landing3{
  background:url('/images/landing3.jpg') no-repeat center center fixed;
}

.landing4{
  background:url('/images/landing4.jpg') no-repeat center center fixed;
}

.landing-text{
  color: white;
  text-transform: uppercase;
  min-height: 100vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.landing-text > h1{
  font-size: 3rem;
  letter-spacing: 1rem;
  text-align: center;
}

.landing-text > h2{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1rem;
}

.landing-text > div {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.landing-text > div > a {
  text-decoration: none;
  color: white;
  background-color: #222;
  padding: 1rem;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.landing-text > div > a:hover {
  background-color: #808080;
  padding: 1rem;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.landing-about{
  min-height: 100vh;
  background-color:#0c121f;
  overflow: hidden;
}

.landing-data{
  min-height: 100vh;
  background-color:#0c121f;
  overflow: hidden;
}

.landing-graphs{
  min-height: 100vh;
  background-color:#0c121f;
  overflow: hidden;
}

.ui.centered.middle.aligned.two.column.grid > .row{
  text-align: left;
  padding: 5rem;
}

.ui.centered.middle.aligned.two.column.grid{
  min-height: 100vh;
}

.text{
  color: white;
}

.text > h1{
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.text > p{
  font-size: 1.2rem;
  line-height: 1.6;
}

.app{
  background-color: #0c121f;
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.ui.fluid.search.selection.dropdown{
  background-color: #383b4a;
}


.ui.selection.dropdown .menu > .item{
  /*color: #fff;*/
  background-color: #383b4a;
  border-top: none !important;
}

.ui.selection.dropdown .menu > .item:hover{
  background-color: #A5ABBD;
}

/*.datePicker{*/
  /*border-bottom: thin solid black;*/
/*}*/

.react-date-picker__wrapper{
  border: none !important;
}

/*.react-date-picker__inputGroup__input, .react-date-picker__inputGroup__divider{*/
  /*color: white;*/
/*}*/

.react-date-picker__button:enabled{
  color:white !important;
}

.react-date-picker__calendar, .react-date-picker__calendar--open{
  z-index: 10000000 !important;
}

/*.react-date-picker.react-date-picker--closed.react-date-picker--enabled.datePicker{*/
  /*background-color: #ECF2FF;*/
  /*color: black;*/
/*}*/

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: inline-block;
}

